[Desktop Entry]
Version=1.0
Name=SubDownloader
Name[en_GB]=SubDownloader
Name[es]=SubDownloader
Comment=Automatic download/upload subtitles for videofiles
Comment[pl]=Automatycznie przesyłaj podpisy do plików wideo
Exec=subdownloader.sh $@
Terminal=false
Type=Application
Icon=subdownloader
Categories=GNOME;Application;AudioVideo;
